body{
    background-color:#689CD2;
    color: white;    
    font-family: "Mulish", sans-serif;
    height: 100%;
    margin: 0;
}

h2{
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 300;
}

* {
    margin:0;
    padding: 0;
}

html,body {
  height: 100%;
}

header, main, footer {
    width: 1040px;
    margin: 0 auto;
}

#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%
}

header a{
    text-decoration: none;
    padding: 20px;
}

.mecto{
    padding: 18px;
}

.pink{
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 300;  
    text-decoration: none;
    color: #04376C;
}

header i{
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 300;
    color: azure;
}

header{
    height: 100px;
    text-transform: uppercase;
}

header li{
    display: inline;
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    text-decoration: underline;
    color: #04376C;
}

header ul{
list-style: none;
padding-left: 20px;
margin-top: 10px;
text-decoration: none;
padding: 20px;
margin: 0px;
}

.colors{
    color: #04376C;
    text-decoration: none;
}

main{
    padding: 100px;   
}

.main_img-float {
    width: 650px;
    margin-right: 30px;
    float: left;   
}

.black h1{
    color: black;
}

/* стиль к файлу панорама*/

#panorama{
    width: 100%;
    height: 150px;
    background: url(../img/2.jpg) no-repeat 70%;
    background-size: cover; /*масштабирование фона*/

}
#logo{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 100px;
    font-size: 24px;
    float: left;
}

#panorama{
    width: 100%;
    height: 150px;
    background: url(../img/2.jpg) no-repeat 70%;
    background-size: cover; /*масштабирование фона*/
}
/*стили для картинок*/
.services__img{
    width: 240px;
    height: 200px;
}

.services__item{
    margin-left: 40px;
    margin-right: 40px;
    width: 240px;
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.services{
    padding: 35px;  
}

.h1--invisible{
    visibility: hidden;
}

#mainnav ul{
list-style: none; /* убирает маркеры списка*/
margin: 0;
padding-left: 0;
}

#mainnav li{
display: inline; /* выстраивает пункты меню в ряд*/
}

#mainnav a {
    text-decoration: none;/*убирает подчёркивание*/
}

#mainnav a:hover{
    text-decoration: underline;
}

#mainnav li.active a{
    font-weight: bold;
}

.services a{
    color: #04376C;
    text-decoration: none; 
}

.new::after{
    content: "new";
    font-size: 10px;
    vertical-align: super;
    background-color: #0D58A6;
    border-radius: 2px;
    padding: 3px;
    margin-left: 5px;
}

.onas {
    margin: 0 auto;
    text-align: center;
}

.onas p {
    width: 630px;
    text-align: justify;
    margin: 0 auto;
    padding-top: 20px;
}

.onas h1{
    color: black;
    margin: 10px;
}

table{
    border: 5px solid #04376C
}

td, th{
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
}

.price th:first-child{
    width: 10%;
}

.price th:nth-child(2), .price th:last-child{
    width: 25%;
}

.price:first-child  {
    text-align: center;
    padding: 10px;
}

.price{
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
	background-color:#4188D2;
}


.price tr, td{
    padding: 10px;
}

table {
    margin: 0 auto;
    text-align: left;
}

td:nth-child(3) {
    text-align: left;
}  

.form{
    text-align: center;
    font-style: italic;
}

#contact-form input[type="name"]{
    padding: 8px;
    font-size: 20px;
    border-radius: 16px;
    border: 3px solid #0D58A6;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #0D58A6;
}

#contact-form input[type="date"]{
    padding: 8px;
    font-size: 20px;
    border-radius: 16px;
    border: 3px solid #0D58A6;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #0D58A6;
}

#contact-form input[type="tel"]{
    padding: 8px;
    font-size: 20px;
    border-radius: 16px;
    border: 3px solid #0D58A6;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #0D58A6;
}

#contact-form input[type="email"]{
    padding: 8px;
    font-size: 20px;
    border-radius: 16px;
    border: 3px solid #0D58A6;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #0D58A6;
}

#contact-form textarea[type="text"]{
    padding: 8px;
    font-size: 20px;
    border-radius: 16px;
    border: 3px solid #0D58A6;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #0D58A6;
}

.form button{
    background-color: #689CD2;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #0D58A6;
    font-size: 20px;
    color: aliceblue;
    font-style: italic;    
}

.form button:hover {
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    border: 3px soli#0D58A6;
    font-style: italic;
}

.contacts{
    text-align: center;
    border: 5px solid  none;
    
}

.contacts h2{
    text-align: center;
    text-transform: uppercase;
    border: 5px solid  none;
    padding: 3px;
    font-weight: bold;
}

.contacts p{
    text-align: center;
    color: #0D58A6;
    padding: 10px;
    font-weight: bold;
    font-weight: 600;
    font-style: italic;
}
.contacts a{
    text-align: center;
    color: #0D58A6;
    font-weight: bold;
    font-style: italic;
}

.client-list {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px;
}

.client {
    background-color: #0D58A6;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 10px;
}

footer{
    text-align: center;
    padding: 100px;
    float: center;
    
}

.footer__block{
    display: inline-block;
    width: 335px;
    text-transform: uppercase;
}

.footer__icons{
    display: inline-block;
    width: 335px;
    text-align: center; 
    margin-right: 20px;
}

.footer__img{
    width: 50px;
}

.footer__block a{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}

